spring:
  application:
    name: j-gcp
  datasource:
    url: jdbc:postgresql://localhost:5432/j-gcp
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 50
      minimum-idle: 20
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      leak-detection-threshold: 60000
  data:
    web:
      pageable:
        default-page-size: 25
        max-page-size: 25
        one-indexed-parameters: false
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 50
          fetch_size: 50
        order_inserts: true
        order_updates: true
        query:
          in_clause_parameter_padding: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    validate-on-migrate: true
server:
  port: 8080

logging:
  level:
    org.flywaydb: DEBUG
    org.hibernate: INFO

app:
  notification:
    base-url: localhost:8080
    username: admin
    password: admin
